<!--  统一风格  采用模板渲染 插件通用模板addons 默认已加载 请参考 Amaze UI的css框架 -->
<extend name="Base/addons"/>
<block name="title">借阅查询</block>
<block name="main">
<div id="func-event-header" class="func-header">
    <div class="func-header-title">已借图书</div>
    <div>
        <span class="func-big-num">{$nums}</span>
        <span class="func-small-num">本</span>
  </div>
    
</div>

<ul class="am-list am-list-static am-list-striped">
	                        <volist name="list" id="info">
<li class="edu-score-li">
<div class="edu-score-title-box"><span class="edu-score-title">《{$info[2]}》</span><span class="edu-score-mark"><span class="balance-consumer-type" style="">剩：</span>{$info['days']}天</span></div>
<div><span class="balance-consumer-type">借阅日期：{$info[6]}</span><span class="edu-score-credit">还书日期：{$info[1]}</span></div>
</li>
	                        </volist>
</ul>


     <section class="am-panel am-panel-default">
        <div class="am-panel-hd">教务查询</div>
        <div class="am-panel-bd">
          <ul class="sm-block-grid-4 blog-team">

            <li><a href="{:addons_url('Home/myclass')}"><img class="am-thumbnail"
                     src="ADDON_PUBLIC/img/kb.png" alt=""/><div class="edu-module-name">课表</div></a>
            </li>
            <li><a href="{:addons_url('Home/scorelist')}"><img class="am-thumbnail"
                     src="ADDON_PUBLIC/img/cj.png" alt=""/><div class="edu-module-name">成绩</div>
            </a>
            </li>
            <li><a href="{:addons_url('Home/balance')}"><img class="am-thumbnail"
                     src="ADDON_PUBLIC/img/ye.png" alt=""/><div class="edu-module-name">余额</div>
            </a>
            </li>
            <li><a href="#"><img class="am-thumbnail"
                     src="ADDON_PUBLIC/img/jy.png" alt=""/><div class="edu-module-name">借阅</div>
            </a>
            </li>
          </ul>
        </div>
      </section>
</block>