<link rel="stylesheet" type="text/css" href="__PUBLIC__/amango_girl/css/style.css">
<script>
	var _site_path = "__PUBLIC__/";
	var _weichuncai_path = "__PUBLIC__/";
	var imagewidth = 100;
	var imageheight = 100;	
	var smjq_tmp = $;
</script>
<script src="__PUBLIC__/amango_girl/js/jquery.js"></script>
<script src="__PUBLIC__/amango_girl/js/common.js"></script>
<script>createFace("__PUBLIC__/amango_girl/skin/default/face1.gif", "__PUBLIC__/amango_girl/skin/default/face2.gif", "__PUBLIC__/amango_girl/skin/default/face3.gif");</script>
<script>
var talkself_user = [ 
		$dot = '';
];
var talkself_arr = talkself_arr.concat(talkself_user);
	}
</script>