<extend name="Base/common"/>
<block name="diystyle">
  <style>@media only screen and (min-width:1200px){.blog-g-fixed{max-width:1200px}}@media only screen and (min-width:641px){.blog-sidebar{font-size:1.4rem}}.blog-main{padding:20px 0}.blog-title{margin:10px 0 20px 0}.blog-meta{font-size:14px;margin:10px 0 20px 0;color:#222}.blog-meta a{color:#27ae60}.blog-pagination a{font-size:1.4rem}.blog-team li{padding:4px}.blog-team img{margin-bottom:0}.footer p{color:#7f8c8d;margin:0;padding:15px 0;text-align:center;background:#2d3e50}.blog-footer{padding:10px 0;text-align:center}@media only screen and (min-width:641px){.img-album{height:380px}}@media only screen and (max-width:640px){.img-album{height:180px}}.am-list-thumb{max-height:140px;overflow:hidden}.am-list{margin:0;background-color:#FFF}.am-list-news{margin:0 0 10px 0}.am-list-item-thumb-left{padding:10px}</style>
</block>
<block name="body">
 <div class="col-md-8">
 <div data-am-widget="slider" class="am-slider am-slider-c3" data-am-slider='{&quot;controlNav&quot;:false}'>
<ul class="am-slides">
 <article:list name="article" category="1" child="true" row="4">
   <li class="img-album">
   <a href="{:U('Article/detail?id='.$article['id'])}"><img style="height:100%;" src="{$article.cover_id}" alt="{$article.title}！" draggable="false" /></a>
    <div class="am-slider-desc">
     <div class="am-slider-counter">
      <span class="am-active">{$i}</span>/4
     </div><a href="{:U('Article/detail?id='.$article['id'])}">{$article.title}</a>
    </div>
  </li>
 </article:list>
</ul>
</div>
<div data-am-widget="list_news" class="am-list-news am-list-news-default ">
  <!--列表标题-->
  <div class="am-list-news-bd">
  <ul class="am-list">
   <!--缩略图在标题左边-->
	<volist name="list" id="data">
	 <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
        <div class="am-col col-sm-4 am-list-thumb">
          <a href="{:U('Article/detail?id='.$data['id'])}">
            <img src="{$data.cover_id}" alt="{$data.title}">
          </a>
        </div>
        <div class="am-col col-sm-8 am-list-main">
            <h3 class="am-list-item-hd"><a href="{:U('Article/detail?id='.$data['id'])}">{$data.title}</a></h3>
            <div class="am-list-item-text">{$data.description}</div>
        </div>
      </li>
	 </volist>
  </ul>
  </div>
  
  <div style="font-size:3.2rem;"><article:page cate="$category['id']" listrow="$category['list_row']" /></div>
<ul class="am-pagination">
  <li class="am-pagination-prev"><a href="">&laquo; 上一页</a></li>
  <li class="am-pagination-next"><a href="">下一页 &raquo;</a></li>
</ul>
  </div>
  </div>

  <div class="col-md-4 blog-sidebar">
    <div class="am-panel-group">
<include file="Public/lists_right"/>
<include file="base/qr"/>
    </div>
  </div>
</block>
                

