<extend name="Public/base" />

<block name="body">
		    <link rel="stylesheet" href="__STATIC__/kindeditor/default/default.css" />
			<script charset="utf-8" src="__STATIC__/kindeditor/kindeditor-min.js"></script>
			<script charset="utf-8" src="__STATIC__/kindeditor/zh_CN.js"></script>

<script>
				var editor;
				var replyeditor;
				KindEditor.ready(function(K) {
				    //激活关键词
					editor = K.create('textarea[name="keyword_content"]', {
						allowFileManager : false,
						themesPath: K.basePath,
					items : ['emoticons','|','plainpaste','clearhtml','about'],
                pasteType : "1",
			   newlineTag : "br",
			     htmlTags : {a : ['href'],'br' : [],img : ['src', 'alt']},
				  width:'100%',
               filterMode : true,
			   resizeMode : 1,
					});
					//文本回复
				replyeditor = K.create('#keyword_text', {
						allowFileManager : false,
						themesPath: K.basePath,
					items : ['emoticons','|','plainpaste','clearhtml','about'],
                pasteType : "1",
			   newlineTag : "br",
			     htmlTags : {a : ['href'],'br' : [],img : ['src', 'alt']},
				  width:'100%',
               filterMode : true,
			   resizeMode : 1,
					});
				});
</script>
    <!-- 表单 -->
    <div class="main-title cf">
        <h2>新增 关键词</h2>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">
    <ul class="tab-nav nav">
			<li data-tab="tab1" class="current"><a href="javascript:void(0);">基本参数</a></li><li data-tab="tab2" ><a href="javascript:void(0);">关键词激活</a></li><li data-tab="tab3" ><a href="javascript:void(0);">微信回复体</a></li>    </ul>
    <div class="tab-content">
    <!-- 表单 -->
    <form id="form" action="/newmango/index.php?s=/admin/think/add/model/5.html" method="post" class="form-horizontal">
        <!-- 基础文档模型 -->
		<div id="tab1" class="tab-pane in tab1">
            <div class="form-item cf">
                    <label class="item-label">开始时间<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" name="keyword_start" class="text input-medium time" value="" placeholder="请选择时间" />                    </div>
                </div><div class="form-item cf">
                    <label class="item-label">截止日期<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" name="keyword_end" class="text input-medium time" value="" placeholder="请选择时间" />                    </div>
                </div><div class="form-item cf line">
                    <label class="item-label">上文词汇<span class="check-tips"></span></label>
                    <div class="controls">
                        <select class="input-medium" name="keyword_top" style="width:250px;">
			 <option value="top">--选择上级关键词--</option>
            <option value="amango28">&nbsp;&nbsp;【通用分组】</option>
            	<option value="206">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[text]:通用接口</option><option value="265">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[text]:单固</option><option value="195">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[text]:换行</option><option value="199">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[text]:通用带参</option></select>                   </div>
                </div><div class="form-item cf">
                    <label class="item-label">下文继承<span class="check-tips"></span></label>
                    <div class="controls">
                        <select name="keyword_down">
                                    <option value="1" selected>开启</option><option value="0" >关闭</option>                                </select>                    </div>
                </div><div class="form-item cf">
                    <label class="item-label">关键词组<span class="check-tips"></span></label>
                    <div class="controls">
                   <select class="input-medium" name="keyword_group" style="width:250px;">
			        <option value="top">--选择所属分组--</option>
                    <option value="amango28">&nbsp;&nbsp;【通用分组】</option>
            	    <option value="206">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[text]:通用接口</option><option value="265">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[text]:单固</option><option value="195">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[text]:换行</option><option value="199">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[text]:通用带参</option></select>                     </div>
                </div><div class="form-item cf">
                    <label class="item-label">缓存时间<span class="check-tips">（(单位:秒)）</span></label>
                    <div class="controls">
                        <input type="text" class="text input-medium" name="keyword_cache" value="">                    </div>
                </div>        </div><div id="tab2" class="tab-pane  tab2">
            <div class="form-item cf">
                    <label class="item-label">请求类型<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="keyword_post" value="">                    </div>
                </div><div class="form-item cf">
                    <label class="item-label">回复规则<span class="check-tips"></span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="keyword_reply" value="">                    </div>
                </div><div class="form-item cf">
                    <label class="item-label">关键词内容<span class="check-tips"></span></label>
                    <div class="controls">
                        <label class="textarea">
                                <textarea name="keyword_content" id="wordsreply"></textarea>
                               </label>                    </div>
                </div>        </div><div id="tab3" class="tab-pane  tab3">
				<div class="form-item cf">
                    <label class="item-label">回复类型<span class="check-tips"></span></label>
                    <div class="controls">
                        <a class="btn btn-xlarge" data-event="Textreply" id="open">文 本 回 复</a> <a class="btn btn-xlarge" data-event="Dantwreply">单图文回复</a><a class="btn btn-xlarge" data-event="Duotwreply">多图文回复</a><a class="btn btn-xlarge" data-event="Apireply">第三方接口</a></div>
                </div>
            <div class="form-item">
                    <label class="item-label">回复结构<span class="check-tips"></span></label>
                    <div class="controls">
                        <label class="textarea input-large">
                                <textarea name="keyword_compos" id="keyword_compos"></textarea>
                          </label>                    </div>
                </div>        </div>


        <div class="form-item cf">
            <button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <a class="btn btn-return" href="javascript:;">返 回</a>
        </div>
    </form>
    </div>
</div>
</block> 
<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="__STATIC__/artDialog/lib/sea.js"></script>
<script>
seajs.config({
  alias: {
    "jquery": "jquery-1.10.2.js"
  }
});
</script>
<script>
window.console = window.console || {log:function () {}}
seajs.use(['jquery'], function ($) {
	$(function () {
		try {
			var dialog = top.dialog.get(window);
		} catch (e) {
			$('body').append(
				'<p><strong>Error:</strong> 跨域无法无法操作 iframe 对象</p>'
				+'<p>chrome 浏览器本地会认为跨域，请使用 http 方式访问当前页面</p>'
			);
			return;
		}
		$('#open').on('click', function () {
			top.dialog({
				url: '__STATIC__/artDialog/test/iframe/dialog-input.html',
				title: 'loading..',
				width: 400,
				//height: 120,
				data: $('#input').val(), // 给 iframe 的数据
				onclose: function () {
					this.returnValue && $('#input').val(this.returnValue);
					dialog.focus();
				},
				oniframeload: function () {
					//console.log('iframe ready')
				}
			})
			.showModal();
			return false;
		});

	});

});
</script>
<script type="text/javascript">
$('#submit').click(function(){
    $('#form').submit();
});
window.console = window.console || {log:function () {}}
seajs.use(['jquery', '__STATIC__/artDialog/src/dialog-plus'], function ($, dialog) {
	$('a[data-event=Dantwreply]').on('click', function () {
		var d = dialog({
			title: '单图文设置',
			content: '风吹起的青色衣衫，夕阳里的温暖容颜，你比以前更加美丽，像盛开的花<br>——许巍《难忘的一天》',
			okValue: '确 定 设 置',
			ok: function () {
				var that = this;
				setTimeout(function () {
					that.title('提交中..');
				}, 2000);
				return false;
			},
			cancelValue: '取消',
			cancel: function () {}
		});

		d.showModal();
	});
   $('a[data-event=Duotwreply]').on('click', function () {
		var d = dialog({
			title: '多图文设置',
			content: '<input autofocus />',
			okValue: '确 定 设 置',
			ok: function () {
                     art.dialog.alert('警察叔叔会请你喝茶！');
			},
			cancelValue: '取消',
			cancel: function () {}
		});

		d.showModal();
	});
	$('a[data-event=Apireply]').on('click', function () {
		var d = dialog({
			title: 'Api接口设置',
			content: '<div class="tab-wrap form-horizontal form-item cf" style="font-family: "Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma;" color="black">'+
						'<label class="item-label">'+
						'	发布内容<span class="check-tips">（是否允许发布内容）</span>'+
						'</label>'+
						'<div class="controls">'+
						'	<label class="inline radio"><input type="radio" name="apireply_type" value="local">本地模块</label>'+
						'	<label class="inline radio"><input type="radio" name="apireply_type" value="common" checked>通用接口</label>'+
						'	<label class="inline radio"><input type="radio" name="apireply_type" value="other" >远程接口</label>'+
						'</div>'+
						'<div class="form-item cf line">'+
                    '<label class="item-label">选择模块<span class="check-tips"></span></label>'+
             ' <div class="controls"> <select class="input-medium" style="width:220px;" id="apireply"> <option value="42" data="top">--选择上级关键词--</option></select></div> </div>'+
						'<div class="form-item cf"><label class="item-label">附加参数<span class="check-tips">为空则不传递</span><em><font color=red>格式:类型1=>参数1;类型2=>参数2;</font></em></label> <div class="controls"><input type="text" class="text input-large" id="param"></div></div>'+
					'</div>',
			okValue: '确 定 设 置',
			width: 400,
			height: 200,
			ok: function () {
		       //参数拼接
			   var back = 'apimodel:'+$('input[name=apireply_type]:checked').val()+"\n"+
			              'apiid:'+$('#apireply option:selected').val()+"\n"+
						  'param:'+$('#param').val();
			   $('#keyword_compos').val(back);
			},
			cancelValue: '取消',
			cancel: function () {}
		});
		d.showModal();
	});
});
$(function(){
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:0,
        autoclose:true
    });
    showTab();
});
</script>
</block>