<extend name="Public/base" />

<block name="body">
    <div class="main-title cf">
        <h2>默认回复设置</h2>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">
    <ul class="tab-nav nav">
         <li data-tab="tab1" class="current"><a href="javascript:void(0);">关注时回复</a></li><li data-tab="tab2" ><a href="javascript:void(0);">黑名单回复</a></li>
         <li data-tab="tab3" ><a href="javascript:void(0);">超时回复</a></li> 
    </ul>
    <div class="tab-content">
    <!-- 表单 -->
    <form id="form" action="{:U('default_reply')}" method="post" class="form-horizontal">
					
        <!-- 基础文档模型 -->
		<div id="tab1" class="tab-pane in tab1">
                <div class="form-item cf">
                   <label class="item-label">关注时回复<span class="check-tips">（选择回复内容映射）</span></label>
                    <div class="controls">
					    <select name="subscribe">
				<notempty name="list">
                <volist name="list" id="menu">
			   	    <option value="{$menu.id}" <eq name="data[0]" value="$menu['id']">selected</eq>>{$menu.id}：【{$menu.response_reply|default='未知'}】&nbsp;&nbsp;{$menu.response_name}</option>
                </volist>
				<else/>
				<option value="" disabled>暂无回复响应列表</option>
				</notempty>
						</select>
                    </div>
                </div>
        </div>
		<div id="tab2" class="tab-pane in tab2">
                <div class="form-item cf">
                   <label class="item-label">黑名单回复<span class="check-tips">（选择回复内容映射）</span></label>
                    <div class="controls">
					    <select name="black">
				<notempty name="list">
                <volist name="list" id="menu">
			   	    <option value="{$menu.id}" <eq name="data[1]" value="$menu['id']">selected</eq>>{$menu.id}：【{$menu.response_reply|default='未知'}】&nbsp;&nbsp;{$menu.response_name}</option>
                </volist>
				<else/>
				<option value="" disabled>暂无回复响应列表</option>
				</notempty>
						</select>
                    </div>
                </div>
        </div>
		<div id="tab3" class="tab-pane in tab3">
                <div class="form-item cf">
                   <label class="item-label">超时回复<span class="check-tips">（选择回复内容映射）</span></label>
                    <div class="controls">
					    <select name="overtime">
				<notempty name="list">
                <volist name="list" id="menu">
			   	    <option value="{$menu.id}" <eq name="data[2]" value="$menu['id']">selected</eq>>{$menu.id}：【{$menu.response_reply|default='未知'}】&nbsp;&nbsp;{$menu.response_name}</option>
                </volist>
				<else/>
				<option value="" disabled>暂无回复响应列表</option>
				</notempty>
						</select>
                    </div>
                </div>
        </div>

        <div class="form-item cf">
            <button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <a class="btn btn-return" href="javascript:;">返 回</a>
        </div>
    </form>
    </div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
$('#submit').click(function(){
    $('#form').submit();
});

$(function(){
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();

});
</script>
</block>
