<extend name="Base/common"/>
<block name="diystyle">
  <style>
    @media only screen and (min-width: 1200px) {
      .blog-g-fixed {
        max-width: 1200px;
      }
    }
    @media only screen and (min-width: 641px) {
      .blog-sidebar {
        font-size: 1.4rem;
      }
    }
    .blog-main {
      padding: 20px 0;
    }
    .blog-title {
      margin: 10px 0 20px 0;
    }
    .blog-meta {
      font-size: 14px;
      margin: 10px 0 20px 0;
      color: #222;
    }
    .blog-meta a {
      color: #27ae60;
    }
    .blog-pagination a {
      font-size: 1.4rem;
    }
    .blog-team li {
      padding: 4px;
    }
    .blog-team img {
      margin-bottom: 0;
    }
    .footer p {
      color: #7f8c8d;
      margin: 0;
      padding: 15px 0;
      text-align: center;
      background: #2d3e50;
    }
    .blog-footer {
      padding: 10px 0;
      text-align: center;
    }
  </style>
</block>
<block name="body">
 <div class="col-md-8">
<div data-am-widget="list_news" class="am-list-news am-list-news-default ">
  <!--列表标题-->
<div class="header">
  <div class="am-g">
    <h1 style="border-left: 3px solid #3bb4f2;padding: 0 1em;
margin-top: .4em;
margin-bottom: .4em;">快捷登陆</h1>
	<empty name="autonickname">
		  <p>仅支持已关注用户<br/>微信平台发送<img style="display:inline;" src="__PUBLIC__/static/kindeditor/plugins/emoticons/images/0.gif">即可查看</p>
	<else />
	      <p>欢迎{$autonickname}：您确定要授权吗?</p>
	</empty>
  </div>
</div>
<div class="am-g">
    <form method="post" class="am-form col-sm-centered" action="__SELF__">
      <label for="email">关注账号:</label>
      <input type="text" name="username" id="email"  value="{$autoucusername|default=''}" placeholder="关注账号">
      <label for="password">密码:</label>
      <input type="password" name="password" id="password" value="{$autoucpassword|default=''}" placeholder="随机密码">
      <label for="remember-me">
        <input id="remember-me" name="autologin" type="checkbox">
        自动登陆
      </label>
      <div class="am-cf">
        <input type="submit" name="" value="立即登陆" class="am-btn am-btn-primary am-btn-sm am-radius am-fl">
		<if condition="$browser_type eq 'pc'"><button class="am-btn am-btn-success am-btn-sm am-fl" style="margin-left: 5px;"><span class="am-icon-weixin">&nbsp;扫描</span></button></if>
		<button class="am-btn am-btn-success am-btn-sm am-fl" style="margin-left: 5px;"><span class="am-icon-qq">&nbsp;登陆</span></button>
        <input type="button" name="" value="忘记密码" class="am-btn am-btn-warning am-btn-sm am-radius am-fr" data-am-modal="{target: '#doc-modal-1'}">
      </div>
    </form>
<div class="am-modal am-modal-no-btn" tabindex="1" id="doc-modal-1" style="top: 50%;">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">如何查看账号和密码
      <a href="" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd">
      关注我们的微信公众号，在聊天界面中发送<img style="display:inline;" src="__PUBLIC__/static/kindeditor/plugins/emoticons/images/0.gif">，系统即可自动推送相关账号信息
    </div>
  </div>
</div>
</div>
  </div>
  </div>
  <div class="col-md-4 blog-sidebar">
    <div class="am-panel-group">
 <if condition="$browser_type eq 'pc'">
	 <section class="am-panel am-panel-primary">
<div class="am-panel-hd">新注册用户</div>
<ul data-am-widget="gallery" class="am-gallery sm-block-grid-2
  md-block-grid-3 lg-block-grid-3 am-gallery-default" data-am-gallery="">
		{:W('Category/lists', array(1, true))}
		{:W('Category/lists', array(43, true))}
        </ul>
      </section>
	   </if>
<include file="Public/qr"/>
    </div>
  </div>
</block>