<!DOCTYPE html>
<html>
<head lang="zh-cn">
  <meta charset="UTF-8">
  <title><block name="title"><empty name="Title">{:C('WEB_SITE_TITLE')}<else />{$Title}</empty></block></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <include file="Public/assets"/>
                     <block name="diystyle"></block>
  {:hook('pageHeader')}
</head>
<body>
                    <block name="header"><include file="Public/nav"/></block>
                    <block name="main"></block>
                    <block name="body"></block>
{:hook('addonFooter')}
                    <block name="footer"><include file="Public/footer"/></block>
                    <block name="script"></block>
{:hook('pageFooter', 'widget')}
<div class="hidden"><block name="hidden"></block></div>
<include file="Public/var"/>
</body>
<include file="Public/weixinjs"/>
</html>