<!DOCTYPE HTML>
<html>
<head lang="zh-cn">
  <meta charset="UTF-8">
  <title><block name="title"><empty name="Title">{:C('WEB_SITE_TITLE')}<else />{$Title}</empty></block></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <include file="Public/assets"/>
                                            <block name="diystyle"></block>
  {:hook('pageHeader')}
</head>
<body style="background-color: #f1f4f5; background-repeat: repeat-y repeat-x; background-size: cover;">
<!-- 默认采用官方的头部文件 -->
                                            <block name="header"><include file="Public/nav"/></block>
<div class="am-g am-g-fixed blog-g-fixed " >
                                            <block name="body">  </block>
</div>
<!-- 默认采用官方的尾巴文件 -->
                                            <block name="footer"><include file="Public/footer"/></block>
<include file="Public/var"/>
                                            <block name="script"></block>
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->{:hook('pageFooter', 'widget')}
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
  <a href="#top" title="回到顶部">
    <span class="am-gotop-title">回到顶部</span>
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
<div class="hidden">                        
                                            <block name="hidden"></block>
</div>
</body>
<include file="Public/weixinjs"/>
</html>
